.page__content {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 92px;
}

@media screen and (max-width:1023px) {
  .page__content {
    gap: 88px;
  }
}

@media screen and (max-width:767px) {
  .page__content {
    gap: 64px;
  }
}

